<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ajjf_test"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.ajjftest.entity.Dojo</class>
        <class>com.company.ajjftest.entity.Member</class>
        <class>com.company.ajjftest.entity.CodesRank</class>
        <class>com.company.ajjftest.entity.RenewalHistory</class>
        <class>com.company.ajjftest.entity.RankHistory</class>
        <class>com.company.ajjftest.entity.Template</class>
        <class>com.company.ajjftest.entity.CentralOffice</class>
    </persistence-unit>
</persistence>
